 /* Reset de margin e padding para garantir consistência */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f0f7;
    color: #3d3b61;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Cabeçalho */
header { 
    height: 10vh;
    padding: 20px 0;;
    text-align: center;
    margin-bottom: 30px;
    background-color: #6a4c9c;
    display: flex;
}

header img {
    width: 10vh;
    height: auto;
    margin-bottom: 20px;
}

main{
    flex:1;
    flex-direction: column;

}

/* Container principal */
.container {
    width: 90%;
    max-width: 400vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Formulário */
.form {
    margin-bottom: 30px;
}

.form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #6a4c9c;
}

.form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #6a4c9c;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form button {
    background-color: #9c7bb5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.form button:hover {
    background-color: #6a4c9c;
}

/* Exibição da imagem do gato */
.gato img {
    width: 100%;
    max-height: 40vh;
    margin-bottom: 20px;
    border-radius: 10px;
}

.gato p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #9c7bb5;
}

/* Mensagem de erro */
.gato p.erro {
    color: #ff5c8d;
    font-size: 1.1rem;
}

/* Rodapé */
footer {
    height: 6vh;
    width: 100%;
    background-color: #3d3b61;
    margin-top: 30px;
    font-size: 2rem;
    color: #cebcea;
    text-align: center;
}
